html,body{
    margin: unset;
    padding: unset;
}

#inifinit-scroll-plane{
    height: 10000px;
}
#app{
}

#js-animation{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 2;
    svg{
        width: 100%;
        height: 100%;
        vertical-align: bottom;
        //object-fit: cover;
    }
}

